html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body, #root{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.header-user-name {
  padding-right: 5px;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
  width: 200px;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.hero {
  background-image: url('/assets/img/bank-tree.jpeg');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.account {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.form-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.transactions-wrapper {
  width: 100%;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.transactions-wrapper-header {
  margin-top: 20px;
  padding-left:10px;
  width:calc(100% - 10px);
  display: flex;
}

.transactions-wrapper-header-date {
  width: 20%;
}

.transactions-wrapper-header-description {
  width: 50%;
}

.transactions-wrapper-header-amount {
  width: 12%;
}

.transactions-wrapper-header-balance {
  width: 13%;
}

.transactions-wrapper-header-collapse {
  width: 5%;
}

.transactions-wrapper-content {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left:10px;
  width:calc(100% - 10px);
  display: flex;
  flex-wrap: wrap;
  background-color: #00bc77;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.transactions-wrapper-content-date {
  width: 20%;
}

.transactions-wrapper-content-description {
  width: 50%;
}

.transactions-wrapper-content-amount {
  width: 12%;
}

.transactions-wrapper-content-balance {
  width: 13%;
}

.transactions-wrapper-content-collapse {
  width: 5%;
  cursor: pointer;
}

.transactions-wrapper-content-collapse-icon {
  width: 20px;
  object-fit: contain;
}

.transactions-wrapper-content-details{
  margin-top: 20px;
  margin-bottom: 5px;

  width: 100%;
  display:flex;
  flex-wrap: wrap;
}

.transactions-wrapper-content-details-header{
  width:20%;
  font-weight: 100;
  margin-bottom: 5px;
}

.transactions-wrapper-content-details-value {
  width:80%;
  margin-bottom: 5px;
}

.transactions-wrapper-content-details-edit {
  margin-left: 5px;
  cursor: pointer;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }

.user-name-form-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-name-edit-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.user-name-edit-form-label {
  color:#020202;
  width : calc(50% - 30px);
  text-align:right;
  padding-top: 3px;
  margin: 10px 10px 10px 10px;
}
.user-name-edit-form-input {
  width : calc(50% - 30px);
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.user-name-edit-form-input:disabled{
  background-color: #a0a0a0;
  color: black;
}

.form-button {
  margin: 10px 10px 10px 10px;
  width: 100px;
}

}
